html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: "open sans", sans-serif;
    color: #373737;
}

.navbar-brand {
    font-weight: bold;
    color: 	#373737;
}

.navbar-nav { 
    font-weight: lighter;
    color: #373737;
}

header img{
    height: 400px;
}

.about-me-img {
    width: 65%;
    border-radius: 70%;
    align-items: center;
}

.hero_fran {
    margin-top: 6.5rem;
}

#img_container {
    height: fit-content;
}

h2 {
    font-weight:bold;
    font-size: 24px;
}
h3 { 
    font-family: 'Homemade Apple', cursive;
    font-weight: bold;
    align-items: flex-start;
    font-size: 20px;
}

.parrafo {
    font-weight: lighter;
}
.cards-container {
    display: flex;
    flex-wrap: wrap;
}

.card-body {
    font-weight: lighter;
}

.card-img-top {
    background-size: cover;
}

#contact {
    background-color: #c0b283;
}

.contact-black {
    font-size: large;
    font-weight: 500;   
}

h4 {
    font-weight: bold;
    color: #373737;
    font-size: 20px;
}

#email_text { 
    font-size: medium;
    font-weight: 600px;
    color: #f0f0f0;
}

.py-4 {
    padding-top: 3.5rem!important;
    padding-bottom: 3.5rem!important; 
}
/* .whatsapp_container {

    align-items: center;
}
.button-text {
    color: #373737;
} */

footer {
    background-color: #f0f0f0;
}

.icons a{
    padding-left: 8px;
}

/* general rule */
.my-custom-form {
    margin-inline: 20%;
}

/* general rules for mini-section */
.mini-footer-text {
    text-align: left;
}

.mini-footer-icons {
    text-align: right;
}



/* exeptional rule when width changes */
@media (max-width: 400px) {
    .my-custom-form {
        margin-inline: 10%;
    }
    .mini-footer, .mini-footer-icons {
        text-align: center;
    }
}
